<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BulbaSort</title>
  
    <link rel="stylesheet" href="/css/jass.css" />
      <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>
          <a class="animate__animated animate__bounce outlined-text "href="/">BulbaSort!</a>
        </h1>
        <nav">
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a class="outlined-text" href="/api/users/profile">Profile</a>
            <a class="outlined-text" href="/api/users/create">create team</a>
            
            <button class="no-button" id="logout">logout</button>

            
            
          {{else}}
            <a class="outlined-text" href="/login">login</a>
            
          {{/if}}
        </nav>
      </header>
      <main class="container container-fluid mt-5">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>