<div>
    <h1>Create a New Team</h1>
        <form id="team-form">
        <label for="team-name">Team Name: </label>
        <input type="text" id="team-name" name="team-name" required>
        <br><br>
        <label for="version">Version: </label>
        <input type="text" id="version" name="version" required>
        <br><br>

        <input type="submit" value="Submit">
    </form>

    <script src="../public/js/teamcreate.js"></script>
    </div>