<div>
        <form id="pokemonForm">
        <label for="pokemon_id">Pokemon ID:</label>
        <input type="number" id="pokemon_id" name="pokemon_id" required>
        <br><br>
        <label for="pokemon_id">Pokemon ID:</label>
        <input type="number" id="pokemon_id" name="pokemon_id" required>
        <label for="pokemon_id">Pokemon ID:</label>
        <input type="number" id="pokemon_id" name="pokemon_id" required>
        <label for="pokemon_id">Pokemon ID:</label>
        <input type="number" id="pokemon_id" name="pokemon_id" required>
        <label for="pokemon_id">Pokemon ID:</label>
        <input type="number" id="pokemon_id" name="pokemon_id" required>
        <label for="pokemon_id">Pokemon ID:</label>
        <input type="number" id="pokemon_id" name="pokemon_id" required>
        
        <label for="team_id">Team ID:</label>
        <input type="number" id="team_id" name="team_id" required>
        <br><br>

        <input type="submit" value="Submit">
    </form>

    <script src="script.js"></script>
    </div>