{{#each generations as |generation| }}
<div class="homepage">
<div >
  <h3>
    Welcome to BulbaSort! Here you can pick which Pokémon game you're playing and select the pocket monsters you want on your team! When viewing your profile you'll see the teams that you've built and can edit or delete them.
  </h3>
</div>
<div>
  <h2>
    <a href="/api/games">{{generation.name}}</a>
  </h2>
</div>
</div>
{{/each}}