{{#each generations as |generation| }}
<div>
  <h3>
    Welcome to BulbaSort! Here you can pick which Pokémon game you're playing and select the pocket monsters you want on your team!
  </h3>
</div>
<div>
  <h2>
    <a href="/generation/{{generation.id}}">{{generation.name}}</a>
  </h2>
</div>
{{/each}}