{{#each poketeam as |poketeam| }}
<div>
    <div>
        <h2>
            <a href="/teams/{{team.id}}">{{poketeam.id}}</a>
        </h2>
    </div>
</div>
{{/each}}

        <label for="pokemon_name">Pokemon Name:</label>
        <input type="text" id="pokemon_name" name="pokemon_name" required>
            <br><br>
        <label for="pokemon_name">Pokemon Name:</label>
        <input type="text" id="pokemon_name" name="pokemon_name" required>
            <br><br>
        <label for="pokemon_name">Pokemon Name:</label>
        <input type="text" id="pokemon_name" name="pokemon_name" required>
            <br><br>
        <label for="pokemon_name">Pokemon Name:</label>
        <input type="text" id="pokemon_name" name="pokemon_name" required>
            <br><br>
        <label for="pokemon_name">Pokemon Name:</label>
        <input type="text" id="pokemon_name" name="pokemon_name" required>
            <br><br>
        <br><br>