{{#each poketeam as |poketeam| }}
<div>
    <div>
        <h2>
            <a href="/teams/{{team.id}}">{{poketeam.id}}</a>
        </h2>
    </div>
</div>
{{/each}}

        <label for="pokemon_id">Pokemon ID:</label>
        <input type="text" id="pokemon_id" name="pokemon_id" required>
         <br><br>
        <label for="pokemon_id">Pokemon ID:</label>
        <input type="text" id="pokemon_id" name="pokemon_id" required>
         <br><br>
        <label for="pokemon_id">Pokemon ID:</label>
        <input type="text" id="pokemon_id" name="pokemon_id" required>
         <br><br>
        <label for="pokemon_id">Pokemon ID:</label>
        <input type="text" id="pokemon_id" name="pokemon_id" required>
         <br><br>
        <label for="pokemon_id">Pokemon ID:</label>
        <input type="text" id="pokemon_id" name="pokemon_id" required>
         <br><br>
        <br><br>